include README.md
include RELEASE-VERSION
include version.py
include setup.py
graft src
prune *.pyc
include versioneer.py
include src/asyncio_helpers/_version.py
exclude .DS_Store
recursive-exclude asyncio_helpers .DS_Store